@tailwind base;
@tailwind components;
@tailwind utilities;

// font

@import '../fonts/index.scss';


// classes

$primary : #D34627;
$secondary : hsl(185, 43%, 50%);
$dark : #042B29;
$light : #EDE9E8;

$rad-md: 8px;
$rad-sm: 5px;

// ui-interact-colors

$info: hsl(199, 91%, 64%);
$success: hsl(147,83%,44%);
$negative: hsl(360,100%,64%);
$warning: hsl(44,102%,62%);

// icon coloring

.icon {
  &.success {
    fill: $success;
  }
  &.false {
    fill: $negative;
  }
}

// root

.admin-root {
  font-family: 'Comfortaa', cursive;
}



// Custom color class

.bg-primary {
  background-color: $primary;
}

.color-primary {
  color: $primary;
}

.bg-secondary {
  background-color: $primary;
}

.color-secondary {
  color: $secondary;
}

.bg-light {
  background-color: $light;
}

.color-light {
  color: $light;
}

.bg-dark {
  background-color: $dark;
}

.color-dark {
  color: $dark;
}

// forms fields
//labels (.label)

.label {
  transition: 150ms;
  background-color: none;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: transparentize($color: $dark, $amount: .6);
  @apply block py-1 font-semibold select-none;
}

// form title

.form-title {
  border-bottom: solid $primary 2px;
  margin-bottom: -2px;
  @apply p-2 pb-0 mx-2 text-2xl font-bold select-none;
}

//custom react select

@mixin selector($color) {
  position: relative;
  transition: 150ms;

  svg {
    fill: $dark;
  }

  .opt {
    @apply select-none cursor-pointer;

    &:not(.active) {
      &:hover {
        background-color: $color;
        color: $light;
      }
    }
  }

  @apply p-2 text-lg rounded-md;

  .active {
    transition: 150ms;
    @apply p-3 pl-4 align-middle cursor-pointer;
    background-color: $light;
    box-shadow: 0 0 4px 0 transparentize($color: $color, $amount: 0.5) inset;
    display: flex;
    outline: solid transparent 2px;

    .txt {
      width: 100%;
    }

    .icon {
      height: 28px;
    }
  }

  .opt-wrapper {
    background-color: white;
    box-shadow: 0 0 4px 0 transparentize($color: $color, $amount: .5);
    border: 1px solid $color;
  }  

  &:hover,
  &:focus,
  &:focus-within {
    background-color: transparentize($color: $color, $amount: .9);

    .active {
      outline-color: $color;
    }
  }

  &.opened {
    svg {
      fill: darken($color: $color, $amount: 5%)
    }
  }
}

.selector {
  @include selector($primary);

  .active {
    @apply rounded-md;
  }

  &.secondary {
    @include selector($secondary)
  }
  svg {
    transition: 150ms;
  }

  &.opened {
    svg {
      transform: rotate(90deg);
    }
  }

  .opt-wrapper {
    position: absolute;
    width: calc(100% - 32px);
    margin: auto;
    left: 0px;
    right: 0px;
    top: calc(100% + .4rem);
    
    @apply rounded-md  z-10;

    .opt {
      @apply p-2 px-3 text-lg;

      &:first-child {
        @apply rounded-t-md;
      }
      &:last-child {
        @apply rounded-b-md;
      }
    }
  }
}



// buttons

@mixin btnSetting($color) {
  transition: 150ms;
  @apply block p-3 rounded-md text-lg;
  background-color: $color;
  color: white;
  svg {
    fill: white;
  }
  box-shadow: 0 0 4px 0 transparentize($color: $color, $amount: 0.3);
  outline: solid transparent 2px;
  outline-offset: -2px;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: whitesmoke;
    outline-color: $color;
    color: $color;
    svg {
      fill: $color;
    }
  }
}

.btn {
  padding: 10px;
  border-radius: $rad-md;
  @apply cursor-pointer text-center;
  
  &.primary {
    @include btnSetting($primary);
  }

  &.secondary {
    @include btnSetting($secondary);
  }

  &.grey {
    @include btnSetting(desaturate($color: $secondary, $amount: 50%));
  }

  &.danger {
    @include btnSetting($negative);
  }

  
}


@mixin growScale () {
  $scales: 1,2,3,4,5,6,7,8,9,10;
  @each $scale in $scales {
    .colsize-#{$scale} {
      width: $scale*10+0%;
    }
    .colsize-#{$scale}#{'-5'} {
      width: $scale*10+5%;
    }
  }
}

@mixin growScaleRow () {
  $scales: 1,2,3,4,5,6,7,8,9,10;
  @each $scale in $scales {
    .rowsize-#{$scale} {
      width: $scale*10+0%;
    }
    .rowsize-#{$scale}#{'-5'} {
      width: $scale*10+5%;
    }
  }
}

// elements
body {
  background-color: darken($color: $light, $amount: 3);
  color: $dark;
}


//layout
#layout {
  background-color: $light;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 0 8px 0 $light;
  @apply flex flex-nowrap justify-start overflow-hidden relative;
}

#login {
  transition: 200ms;
  position: fixed;
  overflow: auto;
  perspective: 1000px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .6);
  &.connected {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
}

#navbar-top {
  margin: 0;
  padding: 0 !important;

  &>* {
    padding: 10px;
  }
}

#navbar {
  transition: 200ms;
  background-color: $primary;
  color: white;
  margin: 0 auto;
  border-radius: $rad-md;
  min-width: 190px;
  width: 190px;
  max-width: 200px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 hsla(11, 69%, 30%, .6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &>* {
    padding: 10px;
  }

  & #nav-title {
    @apply bg-black/[.3];
    font-size: 1.7em;
    text-align: center;
  }

  & li {
    display: block;
  }

  & .nav-link {
    transition: 100ms;
    font-size: 1.5em;
    border-radius: $rad-sm;
    padding: 10px;
    margin: 2px auto;
    width: 100%;
    display: block;
    text-align: center;

    & .link-txt {
      transition: 100ms;
      display: inline;
      position: relative;

      &::after {
        transition: 100ms;
        content: "";
        position: absolute;
        margin: auto;
        border-radius: $rad-md;
        width: calc(100% + 10px);
        height: 1px;
        left: -5px;
        right: 0;
        bottom: -1px;
      }
    }

    &:hover,
    &.active {
      background-color: $light;
      color: $primary;

      & .link-txt {
        &::after {
          background-color: $primary;
        }
      }
    }
  }
}

#nav-opts {

  .icon-nav {
    display: flex;
    justify-content: flex-end;

    .nav-link {
      transition: 150ms;
      background-color: $light;
      box-shadow: 0 0 4px 0 darken($color: $primary, $amount: 20);

      &:hover {
        background-color: $primary;

        .svg-icon {
          fill: $light;
        }
      }
    }

    & .svg-icon {
      transition: 150ms;
      width: 28px;
      height: 28px;
      fill: $primary;
    }
  }

}

// content

#content {
  width: 100%;
  height: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
  gap: 10px;
  @apply flex flex-col;

  .content-full {
    height: calc(100% - 11px - 1.5rem - 1.75rem);
    @apply p-2 flex flex-col overflow-hidden;

    .content-nav {
      height: 100%;
      @apply flex flex-col flex-nowrap overflow-hidden;

      &-header {
        @apply text-base;
      }

      .content-inner {
        height: 100%;
        @apply overflow-auto;

        &::-webkit-scrollbar {
          background-color: transparent;
          width: 12px;
          @apply rounded-r-lg;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $secondary;
          border: 3px solid hsl(0, 0%, 94%);
          @apply rounded-lg;
        }
      }
    }
  }

  .title {
    border-bottom: solid $secondary 2px;
    margin-bottom: -2px;
    @apply p-3 pb-0 text-2xl font-bold select-none;
    background-color: transparentize($color: $secondary, $amount: .9);
    border-radius: 7px 7px 0 0;
  }

  .sub-title {
    @apply px-1 pb-1 text-lg font-bold select-none;
  }
}


// footer

.content-full {
  background-color: whitesmoke;
  padding: 10px 14px;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .8);
  @apply rounded-md relative;
}

#admin-footer {
  background-color: whitesmoke;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .8);
  @apply text-lg p-3 rounded-lg;
}

// Animation class Classes

.fadeOutLeft {
  opacity: 0;
  transform: translateX(-100%);
}

.fadeOutDown {
  opacity: 0;
  transform: translateY(100%);
}

@keyframes fadeInLeft {
  0% {
    transition: 0;
    opacity: 0; transform: translateX(-100%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1; transform: translateX(0%);
  }
}

.fadeInLeft {
  animation: fadeInLeft 300ms ease-in normal;
}

// toast

@import './toast.scss';

//input wrapper, input label, input(text - password)

@import './inputs.scss';

// actions icon

@import './action-icon.scss';

// actions icon

@import './modal-editor.scss';

// search-bar

@import './search.scss';

// text editor

@import './lexical.scss';