@tailwind base;
@tailwind components;
@tailwind utilities;

// font

@import '../fonts/index.scss';


// classes

$primary : hsl(11, 69%, 49%);
$secondary : hsl(185, 43%, 50%);
$dark : hsl(185, 43%, 15%);
$light : hsl(12, 12%, 90%);

$rad-md: 8px;
$rad-sm: 5px;

// ui-interact-colors

$info: hsl(199, 86%, 64%);
$success: hsl(147,80%,44%);
$negative: hsl(360,95%,64%);
$warning: hsl(44,102%,62%);

// icon coloring

.icon {
  &.success {
    fill: $success;
  }
  &.false {
    fill: $negative;
  }
  &.warning {
    fill: $warning;
  }
}

// root

.admin-root {
  font-family: 'Comfortaa', cursive;
}

* {
  scroll-behavior: smooth;
}

// Custom color class

.bg-primary {
  background-color: $primary;
}

.color-primary {
  color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.color-secondary {
  color: $secondary;
}

.bg-light {
  background-color: $light;
}

.color-light {
  color: $light;
}

.bg-dark {
  background-color: $dark;
}

.color-dark {
  color: $dark;
}

// link

.link-group {
  @apply inline-block;
  .link-prev {
    @apply inline;
  }
  
  .link {
    @apply font-bold duration-150;
    color: $secondary;
    &:hover {
      color: $primary;
    }
    &:visited {
      color: darken($color: $secondary, $amount: 5%);
    }
  }
}

// forms fields
//labels (.label)

.label {
  transition: 150ms;
  background-color: none;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: transparentize($color: $dark, $amount: .6);
  @apply block py-1 font-semibold select-none;
}

// form title

.form-title {
  border-bottom: solid $primary 2px;
  margin-bottom: -2px;
  @apply p-2 pb-0 mx-2 text-2xl font-bold select-none;
}

//custom react select

@mixin selector($color) {
  position: relative;
  transition: 150ms;

  svg {
    fill: $dark;
  }

  .opt {
    @apply select-none cursor-pointer;

    &:not(.active) {
      &:hover {
        background-color: $color;
        color: $light;
      }
    }
    .icon-value {
      height: 28px;
    }
  }

  @apply p-2 text-lg rounded-md;

  .active {
    transition: 150ms;
    @apply p-3 pl-4 align-middle cursor-pointer overflow-hidden gap-2;
    background-color: $light;
    box-shadow: 0 0 4px 0 transparentize($color: $color, $amount: 0.5) inset;
    display: flex;
    outline: solid transparent 2px;

    .txt {
      @apply overflow-hidden text-ellipsis whitespace-nowrap;
      width: 100%;
    }

    .icon, .icon-value {
      height: 28px;
    }
  }

  .opt-wrapper {
    background-color: white;
    box-shadow: 0 0 4px 0 transparentize($color: $color, $amount: .5);
    border: 1px solid $color;
  }

  &.icon {
    .opt-wrapper {
      .opt {
        outline: 1px solid transparentize($color: $color, $amount: .7);
      }
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: transparentize($color: $color, $amount: .9);

    .active {
      outline-color: $color;
    }
  }

  &.opened {
    svg {
      fill: darken($color: $color, $amount: 5%)
    }
  }
}

.selector {
  @include selector($primary);

  .active {
    @apply rounded-md;
  }

  &.secondary {
    @include selector($secondary)
  }
  svg {
    transition: 150ms;
  }

  &.opened {
    .indicate {
      transform: rotate(90deg);
    }
  }

  .opt-wrapper {
    position: absolute;
    width: calc(100% - 32px);
    margin: auto;
    left: 0px;
    right: 0px;
    top: calc(100% + .4rem);
    
    @apply rounded-md overflow-auto z-10 max-h-[30vh];

    .opt {
      @apply p-2 px-3 text-lg;

      &:first-child {
        @apply rounded-t-md;
      }
      &:last-child {
        @apply rounded-b-md;
      }
    }
  }

  &.icon {
    .active {
      @apply justify-between items-center;
    }
    .opt-wrapper {
      @apply grid max-w-none p-2 gap-2 overflow-x-auto w-fit ml-2;
      grid-template-columns: 1fr 1fr 1fr;
      .opt {
        @apply rounded flex justify-center w-11 h-11;
        .icon-value {
          @apply m-auto;
        }
      }
    }
  }
}

// buttons

@mixin btnSetting($color) {
  
  background-color: $color;
  color: white;
  svg {
    fill: white;
  }
  box-shadow: 0 0 4px 0 transparentize($color: $color, $amount: 0.3);
  outline: solid transparent 2px;
  outline-offset: -2px;

  &:hover,
  &:focus,
  &:focus-visible,
  &.toggle {
    &:not(.static) {
      background-color: whitesmoke;
      outline-color: $color;
      color: $color;
      svg {
        fill: $color;
      }
    }
  }
}

@mixin btnWhiteDark($color) {
  background-color: $color;
  color: invert($color: $color);
  svg {
    fill: invert($color: $color);
  }
  outline: solid transparent 2px;
  outline-offset: -2px;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: invert($color: $color);
    outline-color: $color;
    color: $color;
    svg {
      fill: $color;
    }
  }

  &.primary {
    color: $primary;
    background-color: mix($color, $primary, 92%);
    outline-color: transparentize($color: $primary, $amount: 0.7);
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color;
      outline-color: $primary;
      svg {
        fill: $primary;
      }
    }
  }

  &.secondary {
    color: $secondary;
    background-color: mix($color, $secondary, 92%);
    outline-color: transparentize($color: $secondary , $amount: 0.7);
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color;
      outline-color: $secondary;
      svg {
        fill: $secondary;
      }
    }
  }

  &.success {
    color: $success;
    background-color: mix($color, $success, 92%);
    outline-color: transparentize($color: $success , $amount: 0.7);
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color;
      outline-color: $success;
      svg {
        fill: $success;
      }
    }
  }
}

@mixin btnSettingOutline($color) {
  
  background-color: white;
  color: $color;
  svg {
    fill: $color;
  }
  @apply shadow;
  outline: solid $color 1px;
  outline-offset: -1px;

  &:hover,
  &:focus,
  &:focus-visible,
  &.toggle {
    background-color: $color;
    outline-color: $color;
    color: whitesmoke;
    svg {
      fill: whitesmoke;
    }
  }
}

@mixin btnWhiteDarkOutline($color) {
  background-color: invert($color: $color);
  color: $color;
  svg {
    fill: $color;
  }
  outline: solid transparent 2px;
  outline-offset: -2px;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $color ;
    outline-color: $color;
    color: invert($color: $color);
    svg {
      fill: invert($color: $color);
    }
  }

  &.primary {
    color: $primary;
    background-color: mix($color, $primary, 92%);
    outline-color: transparentize($color: $primary, $amount: 0.7);
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color;
      outline-color: $primary;
      svg {
        fill: $primary;
      }
    }
  }

  &.secondary {
    color: $secondary;
    background-color: mix($color, $secondary, 92%);
    outline-color: transparentize($color: $secondary , $amount: 0.7);
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color;
      outline-color: $secondary;
      svg {
        fill: $secondary;
      }
    }
  }

  &.success {
    color: $success;
    background-color: mix($color, $success, 92%);
    outline-color: transparentize($color: $success , $amount: 0.7);
    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $color;
      outline-color: $success;
      svg {
        fill: $success;
      }
    }
  }
}

.btn {
  padding: 10px;
  transition: 150ms;
  @apply block p-3 text-lg cursor-pointer text-center rounded-md;
  
  &.icon-btn {
    @apply p-1 px-4 shadow-md max-w-fit rounded-xl flex;
    background-color: white;

    .icon {
      @apply w-8;
    }
  }

  .icon {
    @apply m-auto;
  }

  &.btn-outline {
    &.primary {
      @include btnSettingOutline($primary);
    }
  
    &.secondary {
      @include btnSettingOutline($secondary);
    }
  
    &.grey {
      @include btnSettingOutline(desaturate($color: $secondary, $amount: 50%));
    }
  
    &.success {
      @include btnSettingOutline($success);
    }
  
    &.danger {
      @include btnSettingOutline($negative);
    }
  
    &.white {
      @include btnWhiteDarkOutline(whitesmoke);
    }
  }

  &.primary {
    @include btnSetting($primary);
  }

  &.secondary {
    @include btnSetting($secondary);
  }

  &.info {
    @include btnSetting($info);
  }

  &.grey {
    @include btnSetting(desaturate($color: $secondary, $amount: 50%));
  }

  &.success {
    @include btnSetting($success);
  }

  &.danger {
    @include btnSetting($negative);
  }

  &.white {
    @include btnWhiteDark(whitesmoke);
  }

  
}

.btn-group {
  @apply flex justify-items-stretch gap-2 w-full;

  .btn {
    @apply grow w-full rounded-sm;
    &:first-child {
      @apply rounded-l-lg;
    }
    &:last-child {
      @apply rounded-r-lg;
    }
  }

}

@mixin btnNav($color) {
  transition: 150ms;
  @apply block p-1 rounded-md text-base;
  background-color: inherit;
  color: $color;
  svg {
    transition: 150ms;
    fill: transparentize($color: $color, $amount: 0.6);
  }
  box-shadow: 0 0 4px 0 transparentize($color: $color, $amount: 0.8);
  outline: solid transparentize($color: $color, $amount: 0.8) 1px;
  outline-offset: -1px;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: white;
    outline-color: $color;
    color: $color;
    svg {
      fill: $color;
    }
  }
}

.btn-nav {
  @apply cursor-pointer;
  &.primary {
    @include btnNav($primary);
  }
}

// columns

@mixin growScale () {
  $scales: 1,2,3,4,5,6,7,8,9,10;
  @each $scale in $scales {
    .colsize-#{$scale} {
      width: $scale*10+0%;
    }
    .colsize-#{$scale}#{'-5'} {
      width: $scale*10+5%;
    }
  }
}

@mixin growScaleRow () {
  $scales: 1,2,3,4,5,6,7,8,9,10;
  @each $scale in $scales {
    .rowsize-#{$scale} {
      width: $scale*10+0%;
    }
    .rowsize-#{$scale}#{'-5'} {
      width: $scale*10+5%;
    }
  }
}

// elements

body {
  background-color: darken($color: $light, $amount: 3);
  color: $dark;
}


//layout

#layout {
  background-color: $light;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 0 8px 0 $light;
  @apply flex flex-nowrap justify-start overflow-hidden relative;
}

#login, #reset-pass, #new-pass {
  perspective: 1000px;
  transform: translateX(-50%) translateY(-50%);
  @apply duration-200 fixed overflow-auto top-1/2 left-1/2 p-1 pt-2;

  min-width: 364px;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .7);
  &.connected {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.3);
  }
}

#navbar-top {
  margin: 0;
  padding: 0 !important;

  &>* {
    padding: 10px;
  }
}

#navbar {
  @apply relative duration-200 text-white 
    my-0 mx-auto rounded-md flex
    flex-col justify-between
    max-w-[200px] min-w-[190px]
    ;
  background-color: $primary;
  box-shadow: 0 0 8px 0 hsla(11, 69%, 30%, .6);

  & > * {
    padding: 10px;
  }

  & #nav-title {
    @apply 
      bg-black/[.18] rounded-t-md
      flex flex-col text-3xl leading-7
      ;
    h1 {
      @apply pt-1;
    }
    text-align: center;
  }

  & li {
    display: block;
  }

}

// menu & links

.nav-item-menu .nav-link {
  transition: 100ms;
  font-size: 1.5em;
  border-radius: $rad-sm;
  padding: 10px;
  margin: 2px auto;
  width: 100%;
  display: block;
  text-align: center;

  & .link-txt {
    transition: 100ms;
    display: inline;
    position: relative;

    &::after {
      transition: 100ms;
      content: "";
      position: absolute;
      margin: auto;
      border-radius: $rad-md;
      width: calc(100% + 10px);
      height: 1px;
      left: -5px;
      right: 0;
      bottom: -1px;
    }
  }

  &:hover,
  &.active {
    background-color: $light;
    color: $primary;

    & .link-txt {
      &::after {
        background-color: $primary;
      }
    }
  }
}

.icon-nav {
  display: flex;
  justify-content: flex-end;
  @apply gap-1;

  li {
    .nav-link {
      background-color: $light;
      box-shadow: 0 0 4px 0 darken($color: $primary, $amount: 20);
      @apply aspect-square duration-150 p-2 
        flex flex-col justify-center rounded-md cursor-pointer;
  
      .svg-icon {
        @apply duration-150 h-9;
        color: $primary;
      }
  
      &.active {
        background-color: $primary;
  
        .svg-icon {
          color: $light;
        }
      }
      
      &.reverse {
        background-color: $primary;
        .svg-icon {
          color: $light;
        }

        &.active {
          background-color: $light;
    
          .svg-icon {
            color: $primary;
          }
        }
      }
  
    }
  }

  
}

.sen-link {
  @apply select-none;
  &-txt {
    @apply block cursor-pointer;
    color:$primary;
    &.end {
      @apply text-right
    }
  }
}

@mixin dropZone($color) {
  outline: 2px dashed transparentize($color: $color, $amount: .5);
  outline-offset: -6px;
  &:hover {
    outline-color: transparentize($color: $color, $amount: .2);
    background-color: transparentize($color: $color, $amount: .8);
  }
}

@mixin dragEvent($negative, $success) {
  &.success {
    outline-color: transparentize($color: $success, $amount: .2);
    background-color: transparentize($color: $success, $amount: .7);
  }
  &.danger {
    outline-color: transparentize($color: $negative, $amount: .2);
    background-color: transparentize($color: $negative, $amount: .7);
  }
}

// content

#content {
  width: 100%;
  height: 100%;
  gap: 10px;
  @apply flex flex-col;

  .content-full {
    height: 100%;
    @apply p-2 flex flex-col overflow-hidden relative;

    .content-nav {
      height: 100%;
      @apply flex flex-col flex-nowrap ;

      &-header {
        @apply text-base;
      }

      &-search {
        @apply px-3;
      }

      .content-inner {
        height: 100%;
        @apply overflow-auto;

        &::-webkit-scrollbar {
          background-color: transparent;
          width: 12px;
          @apply rounded-r-lg;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $secondary;
          border: 3px solid hsl(0, 0%, 94%);
          @apply rounded-lg;
        }
      }

      .content-nav-action {
        @apply flex justify-end gap-2 pt-2;
        .btn {
          @apply p-1 px-2;
        }
      }

      
    }
  }

  .title {
    border-bottom: solid $secondary 2px;
    margin-bottom: -2px;
    @apply p-3 pb-2 text-2xl font-bold select-none;
    background-color: transparentize($color: $secondary, $amount: .8);
    border-radius: 7px 7px 0 0;
    &.out-design {
      @apply rounded-lg;
      
    }
  }

  .sub-title {
    @apply px-1 pb-1 text-lg font-bold select-none;
  }

  .drop-zone {
    @apply text-center block p-3 py-9 cursor-pointer rounded-md duration-150 relative z-10;
    @include dropZone($primary);
    @include dragEvent($negative, $success);
    &.secondary {
      @include dropZone($secondary);
      @include dragEvent($negative, $success);
    }

    .drop-zone-label {
      @apply absolute top-0 left-0 h-full w-full block cursor-pointer text-center py-6 rounded-md;
      &:has(.icon) {
        @apply py-4;
      }
      .icon {
        @apply relative block w-10 h-10 -z-10 m-auto;
      }
    }
  }
}

.content-full {
  background-color: whitesmoke;
  padding: 10px 14px;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .8);
  @apply rounded-md relative;
}

// footer



#admin-footer {
  background-color: whitesmoke;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .8);
  @apply text-lg p-3 rounded-lg flex justify-between shrink-0;
}

// Animation class Classes

.fadeOutLeft {
  opacity: 0;
  transform: translateX(-100%);
}

.fadeOutDown {
  opacity: 0;
  transform: translateY(100%);
}

@keyframes fadeInLeft {
  0% {
    transition: 0;
    opacity: 0; transform: translateX(-100%);
  }
  50% {
    transform: translateX(10%);
  }
  75% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1; transform: translateX(0%);
  }
}

.fadeInLeft {
  animation: fadeInLeft 300ms ease-in normal;
}

// toast

@import './toast.scss';

//input wrapper, input label, input(text - password)

@import './inputs.scss';

// actions icon

@import './action-icon.scss';

// actions icon

@import './modal-editor.scss';

// search-bar

@import './search.scss';

// text editor

@import './lexical.scss';

// Responsive

@import './responsive.scss';

// img explorer

@import './imgexplorer.scss';

// social cards

@import './cards.scss';

// progress

@import './progress.scss';