.card-nav {
  @apply relative grid;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-template-rows: repeat(auto-fill, 18rem);

  @apply gap-2 h-full py-2;

  &.card-making {
    .card {
      @apply hidden;
    }
  }
  .card {
    @apply flex flex-col rounded-lg shadow-md p-2 text-center duration-150;
    outline: 1px solid transparentize($color: $secondary, $amount: .8);
    outline-offset: -1px;
    .card-icon {
      @apply aspect-square flex flex-col justify-center;

      .card-icon-svg {
        @apply h-32 drop-shadow-lg;
      }
    }


    .card-name {
      @apply text-2xl
    }

    &.new {
      @apply shadow-md cursor-pointer;
      .add-icon {
        @apply w-1/2 h-auto m-auto drop-shadow-lg;
      }

      &:hover {
        outline-width: 3px;
        outline-color: transparentize($color: $secondary, $amount: .7);
        .add-icon {
          color: transparentize($color: $secondary, $amount: .2);
        }
      }
    }
  }

  .card-maker {
    @apply 
      absolute left-0 top-2 right-0 bottom-0
      bg-white rounded-lg shadow-md p-2
      overflow-hidden
      ;
      outline: 1px solid transparentize($color: $secondary, $amount: .8);
      outline-offset: -1px;
    .card-edit-title {
      @apply flex gap-2 justify-between;
      .txt {
        @apply p-2;
      }
    }
  }
  
}