.card-nav {
  @apply relative grid overflow-auto;
  grid-template-columns: repeat(auto-fill, 12rem);
  grid-template-rows: repeat(auto-fill, 18rem);

  @apply gap-2 h-full py-2;

  .card {
    @apply flex flex-col rounded-lg shadow-md p-2 text-center justify-between;
    outline: 1px solid transparentize($color: $secondary, $amount: .8);
    outline-offset: -1px;
    .card-icon {
      @apply aspect-square flex flex-col justify-center;

      .card-icon-svg {
        @apply h-32 drop-shadow-lg;
      }
    }

    &.edit-mode {
      @apply p-0;
    }


    .card-name {
      @apply text-2xl
    }

    &.new {
      @apply shadow-md cursor-pointer p-0;
      .add-icon {
        @apply w-1/2 h-auto m-auto drop-shadow-lg;
      }

      &:hover {
        outline-width: 3px;
        outline-color: transparentize($color: $secondary, $amount: .7);
        .add-icon {
          color: transparentize($color: $secondary, $amount: .2);
        }
      }
    }
  }

  .card-maker {
    @apply 
      rounded-lg h-full
       flex flex-col justify-between
      ;
      outline: 1px solid transparentize($color: $secondary, $amount: .8);
      outline-offset: -1px;
      
    .card-edit-title {
      @apply flex gap-2 justify-between font-bold capitalize rounded-t-md shrink-0;
      .txt {
        @apply p-2 pb-0;
      }
      border-bottom: 1px solid $secondary;
      background-color: transparentize($color: $secondary, $amount: .8);
    }
    .card-body {
      @apply flex flex-col justify-between
        p-1 h-full shrink py-2;
      & > * {
        @apply p-1;
      }
    }
    .card-footer {
      @apply px-2 mb-2 shrink-0;

    }
  }
  
}

@media screen and (max-width: 1084px) {
  .card-nav {
    @apply relative grid justify-center;
    grid-template-columns: 1fr 1fr 1fr;

    .card {
      &.edit-mode {
        @apply absolute z-30 m-auto left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-2/3;
        background-color: white;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .card-nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(18rem);
  }
}