.img-explorer-container {
  @apply rounded-md;

  &.opened {
    @apply flex flex-col flex-nowrap overflow-hidden;
    .inner-window {
      @apply rounded-b-lg absolute top-[3.35rem] left-2 right-2 bottom-2 flex-col overflow-hidden;
      
    }
  }

  .img-explorer {
    @apply 
      p-1 z-50 bg-white overflow-hidden
      h-full shrink rounded-b-lg
      duration-150 flex flex-col gap-2;
      outline: 1px solid $secondary;
      outline-offset: -1px;
  }

  .img-current {
    @apply p-1.5 bg-white rounded-md shadow-md;
    img {
      @apply max-h-11 rounded-md;
    }
  }

  .img-uploading {
    @apply hidden gap-1 p-1 m-0.5 shrink-0 ;
    &:has(.upload) {
      @apply flex;
    }
    .upload {
      @apply w-[6.5rem] aspect-square p-1 rounded-md flex flex-col gap-2
        justify-between
      ;
      outline: 1px solid transparentize($color: $secondary, $amount: .5);
      .upload-preview {
        @apply max-h-[80%] aspect-auto rounded-md overflow-hidden m-auto;
      }

      .upload-status {
        @apply flex flex-col gap-0.5;
      }

      .hr {
        @apply bg-stone-500 h-[1px] border-none opacity-60;
      }
      .upload-name {
        @apply text-xs text-ellipsis whitespace-nowrap font-bold max-w-full overflow-hidden;
      }
      .upload-progress {
        @apply p-0;
        .progress-bar {
          @apply 
            relative rounded-full h-[.5rem] overflow-hidden
            bg-stone-600
            ;
          .progress-bar-thumb {
            @apply absolute left-0 top-0 h-full shadow-md;
            background-color: $secondary;
          }
        }
      }
    }
  }


  .window-title {
    @apply flex text-white font-extrabold p-2 pl-4
    underline underline-offset-2
     justify-between items-end;
    background-color: $secondary;

    .close-explorer {
      @apply rounded-lg duration-150 shrink-0 cursor-pointer shadow w-8 aspect-square;
      background-color: $negative;
      outline: 1px solid $negative;
      outline-offset: -1px;
      .icon {
        @apply duration-150;
        fill: white;
      }
      &:hover {
        background-color: darken($color: $negative, $amount: 17%);
      }
    }
  }

  .img-content-explore {
    @apply duration-150
      min-h-[4rem] m-1 mt-0 
      rounded-md gap-2
      justify-around items-stretch
      p-2 overflow-auto
      h-full shadow-inner;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9.75rem, calc(100% / 6 - 0.5rem)));
    grid-template-rows: repeat(auto-fill, 15.8rem);
    background-color: $light;

    &:hover {
      background-color: darken($color: $light, $amount: 5%);
    }


    &:has(.no-files-content) {
      @apply flex justify-center items-center;
    }
    .no-files-content {
      @apply 
        p-1 px-2 text-center flex justify-center 
        gap-6 items-center
        w-fit m-auto rounded-lg shadow;
      background-color: lighten($color: $info, $amount: 20%);
      outline: 1px solid lighten($color: $info, $amount: 9%);
      color: darken($color: $info, $amount: 30%);
      .icon {
        @apply w-7 opacity-50 -m-1;
        fill: darken($color: $info, $amount: 28%);
      }
    }

    .img-file-view {
      @apply 
        bg-white 
        rounded-md shadow-md
        ;
      .img-view-container {
        @apply 
          p-1 m-1.5 shadow-md overflow-hidden 
          rounded-md bg-stone-300 aspect-square
          flex flex-col relative;

          .img-view {
            @apply rounded m-auto;
          }
          .img-label {
            @apply duration-150 absolute w-full bottom-0 left-0
              opacity-0
              p-2 break-words shadow-lg border-t
              border-white bg-gradient-to-b
              from-stone-800/80 to-stone-900/95 text-white;
            @apply  translate-y-full ease-out;
          }

          
      }

      &:hover {
        .img-view-container {
          .img-label {
              @apply  translate-y-0 ease-in opacity-100;
            }
        }
      }

    }
  }
}