.img-explorer-container {
  .img-explorer {
    @apply 
      absolute min-h-full w-full 
      p-1 z-50 top-10 bg-white rounded-b-lg 
      duration-150 flex flex-col gap-2 overflow-hidden;
    
    outline-width: 2px;
    outline-style: solid;
    outline-color: $secondary;
    max-height: 38vh;
  }
  .img-uploading {
    @apply flex gap-1 p-1 m-0.5;
    .upload {
      @apply w-[6.5rem] aspect-square p-1 rounded-md flex flex-col gap-2
        justify-between
      ;
      outline: 1px solid transparentize($color: $secondary, $amount: .5);
      .upload-preview {
        @apply max-h-[80%] aspect-auto rounded-md overflow-hidden m-auto;
      }

      .upload-status {
        @apply flex flex-col gap-0.5;
      }

      .hr {
        @apply bg-stone-500 h-[1px] border-none opacity-60;
      }
      .upload-name {
        @apply text-xs text-ellipsis whitespace-nowrap font-bold max-w-full overflow-hidden;
      }
      .upload-progress {
        @apply p-0;
        .progress-bar {
          @apply 
            relative rounded-full h-[.5rem] overflow-hidden
            bg-stone-600
            ;
          .progress-bar-thumb {
            @apply absolute left-0 top-0 h-full shadow-md;
            background-color: $secondary;
          }
        }
      }
    }
  }

  .window-title {
    @apply justify-between flex p-3 text-white text-lg w-full rounded-t-lg;
    background-color: $secondary;
    outline-width: 2px;
    outline-style: solid;
    outline-color: $secondary;

    .close-explorer {
      @apply transform-gpu translate-x-2 -translate-y-2 rounded-lg duration-150 cursor-pointer shadow;
      background-color: $negative;
      outline: 1px solid $negative;
      outline-offset: -1px;
      .icon {
        @apply h-full duration-150;
        fill: white;
      }
      &:hover {
        background-color: darken($color: $negative, $amount: 17%);
      }
    }
  }

  .img-content-explore {
    @apply duration-150
      min-h-[4rem] m-1 mt-0 
      rounded-md overflow-y-auto 
      h-full shadow-inner;
    background-color: $light;
    outline: 1px solid transparentize($color: $secondary, $amount: .6);
    outline-offset: -1px;

    &:hover {
      background-color: darken($color: $light, $amount: 5%);
    }


    &:has(.no-files-content) {
      @apply flex justify-center items-center;
    }
    .no-files-content {
      @apply 
        p-1 px-2 text-center flex justify-center 
        gap-6 items-center
        w-fit m-auto rounded-lg shadow;
      background-color: lighten($color: $info, $amount: 20%);
      outline: 1px solid lighten($color: $info, $amount: 9%);
      color: darken($color: $info, $amount: 30%);
      .icon {
        @apply w-7 opacity-50 -m-1;
        fill: darken($color: $info, $amount: 28%);
      }
    }
  }
}