.text-editor {
  background-color: white;
  @apply m-0 p-2;
}

.toolbar-editor {
  background-color: white;
  outline: 1px solid transparentize($color: $secondary, $amount: .85);
  * {
    @apply duration-150;
  }
  @apply flex p-1.5 gap-2 rounded-md shadow-md select-none;
  .toolbar-item-group {
    @apply flex gap-2 relative;
  }
  .toolbar-item {
    background-color: lighten($color: $secondary, $amount: 47%);
    outline: 1px solid transparentize($color: $secondary, $amount: .7);
    &:focus, &.active {
      outline-width: 3px;
      background-color: darken($color: $secondary, $amount: 20%);
      .icon {
        fill: white;
      }
    }
    @apply p-1 rounded-md shadow-md cursor-pointer block gap-1;
    .icon {
      @apply w-7 h-auto;
      fill: $dark;
    }
  }
  .toolbar-item-select {
    background-color: lighten($color: $secondary, $amount: 47%);
    outline: 1px solid transparentize($color: $secondary, $amount: .7);
    &:focus, &.active {
      outline-width: 3px;
    }
    @apply p-2 rounded-md shadow-md relative cursor-pointer flex flex-nowrap gap-1;
    .item-select-title {
      @apply cursor-pointer;
      min-width: 2.3rem;
    }

    .select-dropdown {
      background-color: white;
      @apply absolute w-full min-w-fit z-50 top-full left-0 mt-1 shadow-md rounded py-1;
      .dropdown-opt {
        min-width: 2.3rem;
        @apply cursor-pointer px-2 py-1 text-center;
      }

      
    }

    .icon {
      @apply w-6 h-auto;
      fill: $dark;
    }
  }

  .tool-divider {
    background-color: transparentize($color: $secondary, $amount: .5);
    width: 2px;
    @apply rounded-full h-5/6 m-auto;
  }

  .toolbar-modal {
    background-color: white;
    outline: 1px solid transparentize($color: $secondary, $amount: .8);
    @apply rounded-md shadow-md absolute block top-full left-0 z-50 mt-2 w-max;
    .modal-titlebar {
      @apply flex flex-nowrap justify-between p-2 rounded-t-md shadow mb-2;
      background-color: transparentize($color: $secondary, $amount: .95);
      border-bottom: 1px solid $secondary;
      .title-text {
        min-width: 6rem;
        @apply w-full;
        color: $secondary;
      }
      .btn {
        @apply p-0.5 aspect-square;
        .icon {
          @apply w-5;
        }
      }
    }

    .modal-content {
      min-width: 15rem;
      @apply p-2 rounded-b-md;
    }

    .btn {
      @apply p-1;
    }

    *[class^="input-"] {
      @apply p-1;
    }
  }
}

.content-editor {
  @apply p-0 relative m-1.5 mt-4 rounded-md shadow-inner;
  outline: 2px solid transparentize($color: $secondary, $amount: .8);
  outline-offset: -1px;
  &:focus, &:focus-within {
    outline-color: transparentize($color: $secondary, $amount: .5);
    
  }

  .editor-text {
    @apply p-3 outline-none relative z-30 font-sans text-base overflow-auto;


    .text-through {
      @apply line-through;
    }

    .text-underline {
      @apply underline;
    }

    .text-bold {
      @apply font-bold;
    }

    .text-italic {
      @apply italic;
    }

    .text-underline-through {
      text-decoration: line-through underline;
    }

    .text-superscript {
      font-size: .75rem;
    }

    .list {
      &-ordered {
        @apply list-decimal list-inside;
      }
      &-unordered {
        list-style-type: circle;
        @apply list-inside;
      }
    }

    .list-item {
      text-shadow: 1px 1px 4px transparentize($color: $secondary, $amount: .5);
      &::marker {
        color: darken($color: $secondary, $amount: 20%);
        font-weight: bold;
      }
    }

    .image {
      outline: 1px solid transparentize($color: $secondary, $amount: .7);
      max-width: 33%;

      
      @apply float-left p-0.5 rounded-md mr-3 mb-2 shadow-md duration-150 cursor-pointer;
      &.at-end {
        @apply float-right mr-0 ml-3;
      }
      img {
        @apply rounded block w-full h-auto;
      }

      &:hover {
        outline-width: 4px;
        outline-color: transparentize($color: $secondary, $amount: .5);
        img {
          filter: blur(2px);
        }
      }
      
    }


    .paragraph {
      clear: both;
    }

  }

  .editor-placeholder {
    @apply p-3 top-0 left-0 outline-none absolute z-10;
  }
}