.text-editor {
  background-color: white;
  border-top: 1px solid transparentize($color: $secondary, $amount: 0.5);
  @apply m-0 p-2 pt-1.5 shrink grow flex flex-col flex-nowrap overflow-hidden z-30;
}

.toolbar-editor {
  flex-shrink: 0;
  * {
    @apply duration-150;
  }
  @apply flex gap-2 rounded-md select-none shrink-0 flex-wrap;
  .toolbar-item-group {
    @apply flex gap-2 relative;
  }
  .toolbar-item {
    background-color: lighten($color: $secondary, $amount: 47%);
    outline: 1px solid transparentize($color: $secondary, $amount: .7);
    &:focus, &.active {
      outline-width: 3px;
      background-color: darken($color: $secondary, $amount: 20%);
      .icon {
        fill: white;
      }
    }
    @apply p-1 rounded-md shadow-md cursor-pointer block gap-1;
    .icon {
      @apply w-7 h-auto;
      fill: $dark;
    }
  }
  .toolbar-item-select {
    background-color: lighten($color: $secondary, $amount: 47%);
    outline: 1px solid transparentize($color: $secondary, $amount: .7);
    &:focus, &.active {
      outline-width: 3px;
    }
    @apply p-2 rounded-md shadow-md relative cursor-pointer flex flex-nowrap gap-1;
    .item-select-title {
      @apply cursor-pointer;
      min-width: 2.3rem;
    }

    .select-dropdown {
      background-color: white;
      @apply absolute w-full min-w-fit z-50 top-full left-0 mt-1 shadow-md rounded py-1;
      .dropdown-opt {
        min-width: 2.3rem;
        @apply cursor-pointer px-2 py-1 text-center;
      }

      
    }

    .icon {
      @apply w-6 h-auto;
      fill: $dark;
    }
  }

  .tool-divider {
    background-color: transparentize($color: $secondary, $amount: .5);
    width: 2px;
    @apply rounded-full h-5/6 m-auto;
  }

  .toolbar-modal {
    min-width: 260px;
    max-width: 260px;
    background-color: white;
    outline: 1px solid transparentize($color: $secondary, $amount: .8);
    @apply rounded-md shadow-md absolute block top-full left-auto z-50 mt-2 w-max shrink-0;
    .modal-titlebar {
      @apply flex flex-nowrap justify-between p-2 rounded-t-md shadow mb-2;
      background-color: transparentize($color: $secondary, $amount: .95);
      border-bottom: 1px solid $secondary;
      .title-text {
        min-width: 6rem;
        @apply w-full;
        color: $secondary;
      }
      .btn {
        @apply p-0.5 aspect-square;
        .icon {
          @apply w-5;
        }
      }
    }

    .modal-content {
      min-width: 15rem;
      @apply p-2 pb-3 rounded-b-md overflow-x-hidden ;
    }

    .modal-img-browser {
      background-color: white;
      outline: 1px solid transparentize($color: $secondary, $amount: .5);
      @apply flex flex-wrap justify-between overflow-y-auto m-auto shadow-inner py-2 rounded;
      .img-item {
        outline: 1px solid transparentize($color: $secondary, $amount: .5);
        @apply w-5/12 aspect-square m-auto rounded-md p-0.5 cursor-pointer duration-150;
        img {
          @apply rounded-md duration-150;
        }

        &:hover {
          outline-color: transparentize($color: $secondary, $amount: .2);
        }
      }
    }

    .badge {
      color: $secondary;
      outline-offset: -1px;
      outline: 2px solid transparentize($color: $secondary, $amount: .5);
      @apply px-2 py-1 text-center rounded-xl text-xs font-black inline drop-shadow-md shrink-0;
    }

    .img-name {
      @apply p-1 flex flex-nowrap gap-3;
      &-txt {
        @apply text-ellipsis whitespace-nowrap shrink overflow-hidden;
      }
    }

    .btn {
      @apply p-1;
    }

    *[class^="input-"] {
      @apply p-1;
    }
  }
}

.content-editor {
  @apply p-0 relative m-0 mt-1.5 rounded-md shadow-inner overflow-hidden flex flex-col shrink grow;
  outline: 2px solid transparentize($color: $secondary, $amount: .8);
  outline-offset: -1px;
  &:focus, &:focus-within {
    outline-color: transparentize($color: $secondary, $amount: .5);
  }

  .editor-text {
    @apply 
      p-2 mx-0 h-full relative z-30 
      font-sans text-base overflow-auto
      outline-none cursor-auto;
      ;
    
    // gecko part
    scrollbar-color: transparentize($color: $secondary, $amount: .3) transparent;
    scrollbar-width: thin;
    // webkit part
    &::-webkit-scrollbar {
      cursor: pointer;
      background-color: transparent;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparentize($color: $secondary, $amount: .4);
      border-radius: 30px;
    }

    &::-webkit-scrollbar-button {
      height: 4px;

    }
    
    
    .text-through {
      @apply line-through;
    }

    .text-underline {
      @apply underline;
    }

    .text-bold {
      @apply font-bold;
    }

    .text-italic {
      @apply italic;
    }

    .text-underline-through {
      text-decoration: line-through underline;
    }

    .text-superscript {
      font-size: .75rem;
    }

    .list {
      &-ordered {
        @apply list-decimal list-inside;
      }
      &-unordered {
        list-style-type: circle;
        @apply list-inside;
      }
    }

    .list-item {
      text-shadow: 1px 1px 4px transparentize($color: $secondary, $amount: .5);
      &::marker {
        color: darken($color: $secondary, $amount: 20%);
        font-weight: bold;
      }
    }

    .image {
      outline: 1px solid transparentize($color: $secondary, $amount: .7);
      max-width: 33%;

      
      @apply float-left p-0.5 rounded-md mr-3 mb-2 shadow-md duration-150 cursor-pointer;
      &.at-end {
        @apply float-right mr-0 ml-3;
      }
      img {
        @apply rounded block w-full h-auto;
      }

      &:hover {
        outline-width: 4px;
        outline-color: transparentize($color: $secondary, $amount: .5);
        img {
          filter: blur(2px);
        }
      }
      
    }


    .paragraph {
      clear: both;
    }

  }

  .editor-placeholder {
    @apply p-2 top-1 left-[1px] outline-none absolute z-10;
  }
}

@-moz-document url-prefix() {
  
  .content-editor {
    .editor-text {
      @apply  p-2 mr-0 pr-3 py-2 my-1;
      white-space: normal !important;
    }
  }
}