.modal-editor {
  background-color: $light;
  top: calc(2.75rem + 18px);
  @apply 
    absolute shadow-2xl left-4 right-4 
    rounded-b-md rounded-xl overflow-hidden;
  outline: 1px solid $secondary;

  max-height: calc(100% - 2.75rem - 18px - 1rem);

  .title-bar {
    color: $secondary;
    background-color: white;
    border-bottom: 2px solid $secondary;
    @apply p-1 pl-4 shadow-md text-xl underline flex justify-between select-none;

    &-txt {
      @apply p-2
    }

    &-close {
      transition: 150ms;
      outline: 1px solid $negative;
      @apply p-0 h-fit rounded-lg cursor-pointer;
      svg {
        transition: 150ms;
        fill: $negative;
      }
      &:hover {
        background-color: $negative;
        svg {
          fill: white;
        }
      }
    }
  }

  .modal-window {
    @apply flex flex-wrap justify-start bg-white;
    .modal-field {
      .input-txt {
        @apply p-1 px-2 my-auto;
      }

      .selector {
        @apply p-0 w-48 my-auto;
        .active {
          @apply p-1 px-2;
        }

        .opt-wrapper {
          top: calc(100% + 2px);
          left: 0;
          right: 0;
          width: auto
        }
      }

      &:last-child {
        flex: 3 3 auto;
      }
  
      @apply p-2 block gap-3 min-w-max;
    }
  }

  & > *:first-child {
    @apply rounded-t-xl
  }

  & > *:last-child {
    @apply rounded-b-lg
  }
}