
// responsive classes

.mobile-ui, *.mobile-ui {
  display: none!important;
}

// responsive rules

@media screen and (max-width: 760px) {
  #nav-title {
    display: none !important;
  }
  
  .mobile-ui {
    display: inherit!important;
  }

  #navbar {
    .nav-item-menu {
      @apply -z-10 flex-col absolute
            top-full left-0 rounded-md
            justify-between
            p-1.5 mt-1 overflow-auto
            gap-1 duration-150;
      transform: translateX(-110%);
      opacity: 0;
      &.toggle {
        z-index: 60;
        transform: translateX(0%);
        opacity: 1;
      }
      background-color: $primary;
  
      li {
        @apply block w-full;
      }

      .nav-link {
        @apply bg-white/20 shadow-inner w-full p-3;
        .link-txt {
          @apply m-2 text-3xl;
          &::after {
            display: none;
          }
        }

        &:hover, &.active {
          @apply bg-white;
        }
      }
    }
  }

  .action {
    &-search, &-field, &-header {
      display: none!important;
    }
  }

  .content-full {
    .content-nav {
      .content-nav-search {
        @apply flex-auto hidden
          absolute right-0 left-0 mt-1
          shadow-lg
        ;
        @apply px-2 #{!important};
        outline: 1px solid transparentize($color: $secondary, $amount: .7);
        &.toggle {
          @apply flex;
        }
        .search-field {
          @apply flex flex-col px-0 py-2 shrink-0;
    
          .input-checkbox {
            &-false, &-true {
              @apply w-6 #{!important};
            }
          }
  
          .input-number-wrap {
            .arrow-btn {
              @apply hidden
            }
            .input-number {
              @apply p-1 #{!important};
            }
          }
  
          .input-switch {
            @apply w-5 min-w-0 h-8;
            &-button {
              @apply bottom-0.5 top-auto;

              &.true {
                
              }
            }

            &.true {
              .input-switch-button {
                bottom: calc(100% - 1.125rem);
              }
            }
          }
        }
      }
    }
  }
  
}

@media screen and (max-width: 1084px) {

  .content-nav-search {
    @apply gap-0;
    .search-field {
      .input-checkbox {
        &-false, &-true {
          @apply w-4;
        }
      }
    }
  }

  .toolbar-item-group {
    & > .toolbar-modal {
      @apply fixed m-auto left-0 right-0 top-1/2 -translate-y-1/2;
    }
  }

  #layout {
    @apply h-[100vh] max-h-[100vh];
    @apply gap-1 p-1 h-[100dvh] max-h-[100dvh];
    grid-template-areas: 
      "nav"
      "content"
      "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px calc(100% - 118px) 50px;
  }

  #content {
    @apply h-full shrink;
    .content-full {
      @apply shrink p-1 gap-1;
    }
  }

  #navbar {
    @apply flex-row w-full max-w-none min-w-0 shrink-0 gap-1;

    #nav-title {
      @apply rounded-md block;

      & > h1 {
        @apply m-auto text-xl;
      }
    }

    & > * {
      @apply p-1;
    }

    #navbar-top {
      @apply flex gap-1;
    }

    #nav-title {
      @apply text-sm font-bold flex items-center py-1 px-2;
    }
    #navigation {
      @apply p-1 flex items-center;
    }
  }
  .nav-item-menu {
    @apply flex-row items-center;
    .nav-link {
      @apply p-2 px-3 m-0 ;
    }
  }

  .icon-nav {
    li {
      .nav-link {
        @apply p-1.5;

        .svg-icon {
          @apply w-10;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .content-nav-search {
    .search-field {
      @apply px-1;
    }
  }
}

// input

@media screen and (max-width: 1084px) {
  .content-nav {
    .content-inner {
      .content-row {
        .row-field {
          @apply grow;
        }
      }
    }
  }
}

// nav icon hover

@media screen and (min-width: 1084px) {
  .icon-nav {
    li {
      .nav-link {
        &:hover {
          background-color: $primary;
    
          .svg-icon {
            color: $light;
          }
        }
        
        &.reverse {  
          &:hover {
            background-color: $light;
      
            .svg-icon {
              color: $primary;
            }
          }
        }
      }
    }
  }
}

