
// responsive classes

.mobile {
  display: none;
}

// responsive rules






@media screen and (max-width: 760px) {
  #nav-title {
    display: none !important;
  }
  
  .mobile {
    display: initial;
  }
  #navbar {
    .nav-item-menu {
      @apply -z-10 flex-col absolute
            top-full left-0 rounded-md
            justify-between
            p-1.5 mt-1 overflow-auto
            gap-1 duration-150;
      transform: translateX(-110%);
      opacity: 0;
      &.toggle {
        z-index: 60;
        transform: translateX(0%);
        opacity: 1;
      }
      background-color: $primary;
  
      li {
        @apply block w-full;
      }

      .nav-link {
        @apply bg-white/20 shadow-inner w-full;
        .link-txt {
          @apply m-2 text-3xl;
          &::after {
            display: none;
          }
        }
      }
    }
  }

  
}

@media screen and (max-width: 1084px) {

  .content-nav-search {
    @apply gap-0;
    .search-field {
      .input-checkbox {
        &-false, &-true {
          @apply w-4;
        }
      }
    }
  }

  .toolbar-item-group {
    & > .toolbar-modal {
      @apply fixed m-auto left-0 right-0 top-1/2 -translate-y-1/2;
    }
  }

  #layout {
    @apply flex-col p-1 gap-1;
  }

  #content {
    @apply gap-1;
  }

  #navbar {
    @apply flex-row w-full max-w-none min-w-0 shrink-0;

    #nav-title {
      @apply rounded-md
    }

    & > * {
      @apply p-1;
    }

    #navbar-top {
      @apply flex;
    }

    #nav-title {
      @apply text-sm font-bold flex items-center py-1 px-2;
    }
    #navigation {
      @apply p-1 flex items-center;
    }
  }
  .nav-item-menu {
    @apply flex-row items-center;
    .nav-link {
      @apply p-1 px-3 m-0 ;
    }
  }

  .icon-nav {
    li {
      .nav-link {
        @apply p-1.5;

        .svg-icon {
          @apply w-10;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .content-nav-search {
    .search-field {
      @apply px-1;
    }
  }
}