
.content-nav {
  @apply h-full gap-1;
  @include growScale;
  @include growScaleRow;
  &-header {
    background-color: transparentize($color: $secondary, $amount: 0.3);
    @apply flex p-3 select-none text-center justify-between flex-nowrap rounded-b-lg;
    .header-field {
      @apply font-extrabold underline underline-offset-2
    }
  }

  &-search {
    @apply flex p-0.5 select-none text-center justify-between flex-nowrap shadow rounded-md;
    background-color: white;
    .search-field {
      @apply flex justify-start items-center gap-1.5 p-0.5 px-1 pr-6;
      .input-txt {
        @apply p-1 px-2;
      }
      .input-number {
        @apply p-1 text-center;
      }

      .selector {
        @apply w-full p-0;
        .active {
          @apply p-1
        }
        svg {
          @apply h-7
        }
  
        &.opened {
          @apply rounded-none rounded-t-md;
          .opt.active {
            @apply rounded-none rounded-t-md #{!important};
          }

          .opt-wrapper {
            top: calc(100% + 1px);
            left: -2px;
            width: calc(100% + 4px);
            @apply shadow-none rounded-none rounded-b-lg;
            .opt {
              &:first-child {
                @apply rounded-none
              }
            }
          }
        }
      }
    }
    
  }

  .content-inner {
    box-shadow: 
      0 0 2px 0 transparentize($color: $secondary, $amount: .3),
      0 0 8px 0 transparentize($color: $secondary, $amount: .6) inset;
    background-color: hsl(0, 0%, 94%);
    @apply rounded-md p-1 flex flex-col gap-1;
    .content-row {
      transition: 
        outline 150ms ease-in,
        background-color 150ms ease-in
      ;
      @apply flex px-3 justify-between flex-nowrap rounded-xl shadow;
      outline: transparentize($color: $secondary, $amount: .5) solid 2px;
      outline-offset: -2px;
      background-color: color-mix(in srgb, white 94%, $secondary 6%);

      &.dragging {
        background-color: color-mix(in srgb, white 85%, $primary 15%);
        outline-color: transparentize($color: $primary, $amount: .3)
      }

      &.dropping {
        background-color: color-mix(in srgb, white 85%, $success 15%);
        outline-color: transparentize($color: $success, $amount: .3)
      }

      .row-field {
        @apply text-center p-3 block
          justify-center overflow-hidden
          whitespace-nowrap
          text-ellipsis select-none
          
          ;

        &.action-field {
          @apply p-1;
        }        
      }

      &:hover {
        outline-color: transparentize($color: $secondary, $amount: .5);
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .content-nav {
    &-header {
      @apply justify-around;
      .header-field {
        &.mobile {
          display: none!important;
        }
      }
    }
    &-search {
      @apply justify-around;
      .search-field {
        &.mobile {
          display: none!important;
        }
      }
    }
    .content-inner {
      .header-field, .row-field, .search-field {
        &.mobile {
          display: none!important;
        }
      }
      .content-row {
        @apply justify-around;
      }
    }
  }
}