@tailwind base;
@tailwind components;
@tailwind utilities;

$primary : #EABD37;
$secondary : hsl(135, 65%, 50%);
$dark : hsl(135, 50%, 18%);
$light : hsl(12, 12%, 90%);

$yellow: hsl(44,81%,57%);
$darkyellow: darken($color: $yellow, $amount: 45%);

// global
html, #root {
  @apply font-sans bg-stone-100 text-stone-900;
}

@media (prefers-color-scheme: dark) {
  html, #root {
    @apply bg-stone-800 text-stone-100;
  }
}

#root {
  @apply max-w-[100vw] h-[100dvh] relative;
  @apply flex flex-col flex-nowrap overflow-hidden;
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  #root {
    @apply flex-row gap-2;
  }
}

@import './header.scss';

@import './navigation.scss';

@import './content.scss';

@import './footer.scss';

@import './toggle-menu.scss';