#footer {
  @apply w-1/2 py-2 shadow-2xl m-auto mr-0 rounded-t-2xl absolute;
  @apply bottom-0 left-1/2 w-1/2 min-w-fit -translate-x-1/2 bg-stone-100;
  $outline: darken($color: $secondary, $amount: 5);
  outline: 1px solid transparentize($color: $outline, $amount: .8);

  .footer-container {
    @apply container mx-auto flex justify-between items-center px-3;
    color: $outline;
  }

  .socials {
    @apply flex gap-3 items-center;
    color: $secondary;
  }

  .social-link,
  .source-link {
    @apply p-2 drop-shadow-lg;
    a {
      @apply flex flex-col justify-center h-11 w-11 duration-150;
    }
    .icon {
      @apply h-10 m-auto;
    }
    &:hover {
      a {
        @apply scale-[1.2];
      }
    }
  }

  .source-link {
    @apply px-3 py-0;
    a {
      @apply flex flex-row w-fit gap-2 items-end;
    }
    .icon {
      @apply h-8 m-0 p-1;
    }

    &:hover {
      a {
        @apply scale-100;
      }
    }
  }

  .page-name {
    @apply capitalize font-normal pb-0.5;
  }
}

@media (prefers-color-scheme: dark) {
  #footer {
    @apply bg-stone-800;
    .footer-container {
      color: $secondary;
    }
  }
}
