#footer {
  @apply  shadow-2xl text-sm select-none bg-inherit;
  @apply bottom-0 min-w-fit;
  outline: 2px solid transparentize($color: $primary, $amount: 0.55);

  .footer-container {
    @apply container mx-auto flex justify-between items-center p-1 min-w-fit;
    color: darken($color: $primary, $amount: 12);
  }

  .socials {
    @apply flex gap-3 items-center;
    color: darken($color: $primary, $amount: 12);
  }

  .social-link,
  .source-link {
    @apply p-1 drop-shadow-lg;
    a {
      @apply flex flex-col justify-center h-8 w-8 duration-150;
    }
    .icon {
      @apply h-8 m-auto;
    }
    &:hover {
      a {
        @apply scale-[1.2];
      }
    }
  }

  .source-link {
    @apply opacity-50;
    &:hover {
      @apply scale-100 opacity-100;
    }
  }

  .page-name {
    @apply capitalize font-normal pb-0.5 overflow-hidden whitespace-nowrap;
  }
}

@media (prefers-color-scheme: dark) {
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  #footer {
    @apply relative left-auto w-auto transform-none rounded-none h-full;
    .footer-container {
      @apply flex-col justify-between h-full;
    }

    .socials {
      @apply flex-col;
    }

    .page-name {
      @apply hidden;
    }
    .social-link,
    .source-link {
      a {
        @apply h-10 w-10;
      }
      .icon {
        @apply h-10;
      }
    }
  }
}
