#navigation {
  @apply flex items-center max-h-max shrink-0 p-2;
  .wrapper {
    @apply space-x-3 flex gap-4 select-none justify-items-end;

    .nav-container {
      @apply relative;
    }

    .navLink {
      @apply block text-lg font-bold relative duration-150 ease-in;
      color: $dark;

      &::first-letter {
        @apply uppercase;
      }

      &::after {
        content: '';
        @apply absolute w-[0%] bottom-0 left-1/2 h-0.5 duration-200 opacity-60;
        background-color: $primary;
      }

      

      &:hover, &.active {
        color: lighten($color: $primary, $amount: 10%);
        &::after {
          @apply w-[100%] left-[0%];
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  #navigation .wrapper {
    .navLink {
      @apply text-stone-100;
    }
  }
}