#navigation {
  @apply flex items-end max-h-max shrink-0;
  .wrapper {
    @apply hidden space-x-3 lg:flex gap-4 select-none justify-items-end;

    .nav-container {
      @apply relative;
      &::after {
        content: "";
        @apply block absolute left-0 top-0 w-full h-full blur-[2px] duration-150;
        z-index: -1;
        background-color: rgba($color: #000000, $alpha: .3);
        opacity: 0
      }
      &:has(.active), &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    .navLink {
      @apply block text-lg font-bold relative duration-150;
      background-color: lighten($color: $yellow, $amount: 10%);
      color: darken($color: $yellow, $amount: 45%);
      outline: 1px solid transparentize($color: darken($color: $yellow, $amount: 45%), $amount: .95);
      outline-offset: -1px;

      @apply 
        lg:text-2xl xl:text-lg
        lg:py-3 lg:px-5
        xl:px-4 xl:py-2
      ;
      &::first-letter {
        @apply uppercase;
      }

      

      &:hover, &.active {
        @apply transform-gpu -translate-x-1 -translate-y-1 z-10;
        color: lighten($color: $yellow, $amount: 10%);
        background-color: darken($color: $yellow, $amount: 45%);
      }
    }
  }
}