#navigation {
  @apply flex items-center max-h-max shrink-0 p-2;
  .wrapper {
    @apply flex gap-4 select-none justify-items-end;

    .nav-container {
      @apply relative p-3 duration-300 w-full;
      background-color: transparent;
      &:has(.active) {
        background-color: $primary;
        .navLink {
          @apply text-stone-800;
          &::after {
            @apply w-[0%] left-[50%]
          }
        }
      }

      &:hover {
        .navLink:not(.active) {
          color: $primary;
          &::after {
            @apply w-[100%] left-[0%];
            background-color: $primary;
          }
        }
      }

      &:hover {
        .navLink {
          &::after {
            @apply w-[100%] left-[0%]
          }
        }
      }
    }

    .navLink {
      @apply block text-lg font-bold relative duration-150 ease-in m-auto;
      color: $dark;

      &::first-letter {
        @apply uppercase;
      }

      &::after {
        content: '';
        @apply absolute w-[0%] bottom-0 left-1/2 h-0.5 duration-200 opacity-60 bg-slate-800;
      }

      

      &.active {
        @apply text-stone-800;
        &::after {
          @apply w-[100%] left-[0%];
        }
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  #navigation .wrapper {
    .navLink {
      @apply text-stone-100 whitespace-nowrap;
    }
  }
}

@media screen and (max-height: 480px) and (orientation: landscape) {
  #navigation .wrapper {
    @apply grid p-3 gap-3 h-[100dvh] w-full justify-between;
    grid-template-rows: repeat(auto-fill, 48px);
    grid-auto-flow: column;
    .nav-container {
      @apply bg-black bg-opacity-10 p-2 px-4 rounded-md w-full h-fit min-w-[180px];
      outline: 1px solid transparentize($color: $primary, $amount: 0.6);
      outline-offset: -1px;
    }
    .navLink {
      @apply text-2xl;
      &.active {
        color: $primary;
      }
    }
  }

  // mobile menu (landscape)

  #navigation {
    @apply absolute block m-0 top-0 translate-y-[-101%] left-full 
      opacity-50 duration-300 bg-inherit z-40 h-[100dvh] p-0
      ml-[1px] shadow-md rounded-xl w-auto
      ;
    &.toggle {
      @apply translate-y-[0%] opacity-100 rounded-none;
    }
    outline: 1px solid transparentize($color: $primary, $amount: 0.4);

  }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  #navigation {
    @apply absolute top-full z-50 p-4 mt-0.5 w-1/2 min-w-fit rounded shadow-xl duration-300;
    @apply -right-full opacity-0;
    background-color: inherit;
    outline: 1px solid transparentize($color: $primary, $amount: .8);
    outline-offset: -1px;

    &.toggle {
      @apply right-0 opacity-100;
    }

    .wrapper {
      @apply flex-col gap-4 w-full;
      .nav-container {
        @apply bg-black bg-opacity-10 p-2 px-4 rounded-sm;
        outline: 1px solid transparentize($color: $primary, $amount: .6);
        outline-offset: -1px;
      }
      .navLink {
        @apply text-2xl;
        &.active {
          color: $primary;
        }
      }
    }
  }
}
