{% extends 'base.html.twig' %}

{% block title %} 
  Mini-CMS {% if url is defined %} -> {{ url }} {% endif %}
{% endblock %}

{% block head %}
  {% if url is defined %}
    {% if url == 'Login' %}
      <meta name="_token" value="{{ csrf_token('authenticate') }}" />
    {% endif %}
    
  {% endif %}
  
{% endblock %}

{% block body %}  
  <div {{ react_component('main_admin') }} id="root"></div>
{% endblock %}
