@tailwind base;
@tailwind components;
@tailwind utilities;

// classes

.btn {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #D34627;
}

.bg-primary {
  background-color: #D34627;
}

.color-primary {
  color: #D34627;
}

.bg-light {
  background-color: #EDE9E8;
}

.color-light {
  color: #EDE9E8;
}

.bg-dark {
  background-color: #042B29;
}

.color-dark {
  color: #042B29;
}

.input-dark {
  @apply block p-3 bg-light rounded-md text-lg color-dark;
  &:focus {
    outline-color: #D34627;
  }
  box-shadow: 0 0 4px 0 hsla(11, 25%, 49%, .5);
}

.btn-primary {
  @apply bg-primary color-light block w-full p-3 rounded-md text-lg;
  box-shadow: 0 0 4px 0 hsla(11, 25%, 49%, .5);
}

// elements
body {
  background-color: #EDE9E8;
}

#layout {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  @apply flex flex-nowrap justify-start;
}

#login {
  position: absolute;
  overflow: auto;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  padding: 10px;
}

#navbar {
  background-color: #D34627;
  color: white;
  margin: 0 auto;
  border-radius: 8px;
  min-width: 190px;
  width: 190px;
  max-width: 200px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 hsla(11, 69%, 30%, .6);

  & > * {
    padding: 10px;
  }

  & #nav-title {
    @apply bg-black/[.3];
    font-size: 1.7em;
    text-align: center;
  }

  & li {
    display: block;
  }

  & .nav-link {
    transition: 100ms;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 10px;
    margin: 2px auto;
    width: 100%;
    display: block;
    text-align: center;

    & .link-txt {
      transition: 100ms;
      display: inline;
      position: relative;
      &::after {
        transition: 100ms;
        content: "";
        position: absolute;
        margin: auto;
        border-radius: 8px;
        width: calc(100% + 10px);
        height: 1px;
        left: -5px;
        right: 0;
        bottom: -1px;
      }
    }

    &:hover , .active {
      background-color: #EDE9E8;
      color: #D34627;
      & .link-txt {
        &::after {
          background-color: #D34627;
        }
      }
    }
  }
}

#content {
  width: 100%;
}