@tailwind base;
@tailwind components;
@tailwind utilities;

// font

@import './fonts/index.scss';

// classes

$primary : #D34627;
$dark : #042B29;
$light : #EDE9E8;

$rad-md: 8px;
$rad-sm: 5px;

// root

.admin-root {
  font-family: 'Comfortaa', cursive;
}

// Custom color class

.bg-primary {
  background-color: $primary;
}

.color-primary {
  color: $primary;
}

.bg-light {
  background-color: $light;
}

.color-light {
  color: $light;
}

.bg-dark {
  background-color: $dark;
}

.color-dark {
  color: $dark;
}


// forms fields
//labels (.label)

.label {
  transition: 150ms;
  background-color: none;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: transparentize($color: $dark, $amount: .6);
  @apply block py-1 font-semibold;
}

// form title

.form-title {
  border-bottom: solid $primary 2px;
  margin-bottom: -2px;
  @apply p-2 pb-0 mx-2 text-2xl font-bold;
}

//input + label container

.input-wrap {
  transition: 150ms;

  &>* {
    transition: 150ms;
  }

  &.active {
    & .label {
      @apply pl-2;
      color: $primary;
      text-decoration-color: transparent;
    }
  }

  border-radius: $rad-md;

  &:hover,
  &.active {
    background-color: transparentize($color: $primary, $amount: .9)
  }

}

//input(text - password)
.input-txt[type=text],
.input-txt[type=password] {
  @apply block p-3 rounded-md text-lg color-dark;
  background-color: hsl(12, 12%, 92%);
  outline: solid transparent 2px;

  &:focus,
  &:hover {
    outline-color: $primary;
  }

  box-shadow: 0 0 4px 0 hsla(11, 25%, 49%, .5) inset;

  &::placeholder {
    color: transparentize($color: $primary, $amount: .3);
  }

}

// buttons

.btn {
  padding: 10px;
  border-radius: $rad-md;
  box-shadow: 0 0 8px 0 $primary;
}

.btn-primary {
  transition: 150ms;
  @apply bg-primary color-light block w-full p-3 rounded-md text-lg;
  box-shadow: 0 0 4px 0 hsla(11, 25%, 49%, .5);
  outline: solid transparent 2px;
  outline-offset: -2px;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: whitesmoke;
    outline-color: $primary;
    color: $primary;
  }

}

$inp-style: (
  "primary": $primary,
  "dark": $dark,
  "clear": transparent
);

.input-group {


  @each $key,
  $val in $inp-style {
    &-#{$key}-outline {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: .5rem;

      @if $key !="clear" {
        @apply p-2 m-2;
      }

      @else {
        @apply p-0 m-2;
      }

      border-radius: $rad-md;
      outline-offset: -2px;
      outline: solid transparent 2px;
      outline-color: transparentize($color: $val, $amount: 0.8);
    }
  }
}

// elements
body {
  background-color: darken($color: $light, $amount: 3);
  color: $dark;
}

#layout {
  background-color: $light;
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 0 8px 0 $light;
  @apply flex flex-nowrap justify-start;
}

#login {
  position: absolute;
  overflow: auto;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  padding: 10px;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .6);
}

#navbar-top {
  margin: 0;
  padding: 0 !important;

  &>* {
    padding: 10px;
  }
}

#navbar {
  transition: 200ms;
  background-color: $primary;
  color: white;
  margin: 0 auto;
  border-radius: $rad-md;
  min-width: 190px;
  width: 190px;
  max-width: 200px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 hsla(11, 69%, 30%, .6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > * {
    padding: 10px;
  }

  & #nav-title {
    @apply bg-black/[.3];
    font-size: 1.7em;
    text-align: center;
  }

  & li {
    display: block;
  }

  & .nav-link {
    transition: 100ms;
    font-size: 1.5em;
    border-radius: $rad-sm;
    padding: 10px;
    margin: 2px auto;
    width: 100%;
    display: block;
    text-align: center;

    & .link-txt {
      transition: 100ms;
      display: inline;
      position: relative;

      &::after {
        transition: 100ms;
        content: "";
        position: absolute;
        margin: auto;
        border-radius: $rad-md;
        width: calc(100% + 10px);
        height: 1px;
        left: -5px;
        right: 0;
        bottom: -1px;
      }
    }

    &:hover,
    &.active {
      background-color: $light;
      color: $primary;

      & .link-txt {
        &::after {
          background-color: $primary;
        }
      }
    }
  }
}

#nav-opts {

  .icon-nav {
    display: flex;
    justify-content: flex-end;

    .nav-link {
      transition: 150ms;
      background-color: $light;
      box-shadow: 0 0 4px 0 darken($color: $primary, $amount: 20);

      &:hover {
        background-color: $primary;
        .svg-icon {
          fill: $light;
        }
      }
    }

    & .svg-icon {
      transition: 150ms;
      width: 28px;
      height: 28px;
      fill: $primary;
    }
  }

}

#content {
  width: 100%;
  height: 100%;
  gap: 10px;
  @apply flex flex-col;
  .content-full {
    height: 100%;
  }
}

#admin-footer, .content-full {
  background-color: whitesmoke;
  padding: 10px 14px;
  box-shadow: 0 0 8px 0 transparentize($color: $primary, $amount: .8);
  border-radius: $rad-md;
}

// Animation class Classes

.fadeOutLeft {
  opacity: 0;
  transform: translateX(-100%);
}