.toolbar-editor {
  background-color: white;
  @apply flex p-2;
  .toolbar-item-group {
    @apply flex gap-2;
  }
  .toolbar-item {
    @apply p-2 rounded-md shadow-md block;
    .icon {
      @apply w-6 h-auto;
    }
  }
}

.content-editor {
  background-color: white;
  @apply p-0 relative;
  &:focus, &:focus-within {
    outline: 4px solid transparentize($color: $secondary, $amount: .8);
    outline-offset: -4px;
  }

  .editor-text {
    @apply p-4 outline-none relative z-30 font-sans;

    .text-through {
      @apply line-through;
    }

    .text-underline {
      @apply underline;
    }
  }

  .editor-placeholder {
    @apply p-4 top-0 left-0 outline-none absolute z-10;
  }
}