@mixin toastType($color, $background) {
  $shadow: darken($color: $background, $amount: 35%);
  color: $color;
  outline: 1px solid transparentize($color: $color, $amount: .85);
  box-shadow:
    0 0 8px 0 transparentize($color: $shadow, $amount: .7),
    0 0 8px 0 transparentize($color: $shadow, $amount: .9) inset,
  ;
  background-color: $background;
  border-bottom: 2px solid darken($color: $background, $amount: 30%);
  border-right: 1px solid darken($color: $background, $amount: 20%);
  .toast-btn {
    transition: 250ms;
    outline: solid 1px $color;
    background-color: $color;
    @apply rounded-md;
    svg {
      transition: inherit;
      fill: $background;
    }

    &:hover, &:focus, &:focus-within {
      background-color: $background;
      svg {
        fill: $color;
      }
    }
  }

  .toast-title {
    background-color: transparentize($color: $color, $amount: .9);
    outline: solid 1px transparentize($color: $color, $amount: .7);
    box-shadow: 0 0 8px 0 transparentize($color: $shadow, $amount: .6); 
    .toast-title-icon {
      svg {
        fill: $color;
      }
    }
  }

}

.toast {
  position: absolute;
  transition: transform 1s ease-in-out;
  top: 10px;
  right: 10px;
  min-width: 200px;

  @apply rounded-md select-none overflow-hidden;

  &.in {
    opacity: 1;
    transform: translateX(0%);
  }

  &.out {
    opacity: 0;
    transform: translateX(120%);
  }

  &.info {
    @include toastType(darken($color: $secondary , $amount: 10%) , lighten($color: $light , $amount: 10%))
  }

  &.success {
    @include toastType(hsl(90, 100%, 15%), hsl(90, 50%, 80%))
  }

  &.warning {
    @include toastType(hsl(39, 100%, 10%), hsl(39, 100%, 70%))
  }

  &.danger {
    @include toastType(hsl(8, 100%, 5%), hsl(8, 100%, 62%))
  }

  .toast-title {
    @apply flex justify-between p-1;
    
  }

  

  .toast-btn {
    @apply flex cursor-pointer
  }

  .toast-content {
    @apply p-4 mt-2
  }
}